## format - sprintf

In [1]:
age = 42.12
name = 'Foo Bar'

str_concatenate = "The user " + name + " was born " + str(age) + " years ago."
print(str_concatenate)

str_percentage = "The user %s was born %s years ago." % (name, age)
print(str_percentage)

str_format = "The user {} was born {} years ago.".format(name, age)
print(str_format)

str_f_string = f"The user {name} was born {age} years ago."
print(str_f_string)

The user Foo Bar was born 42.12 years ago.
The user Foo Bar was born 42.12 years ago.
The user Foo Bar was born 42.12 years ago.
The user Foo Bar was born 42.12 years ago.

## printf using old %-syntax

It is recommended to use f-strings or if those cannot be used for some reason then use the format method.

In [2]:

v = 65
print("<%s>" % v)     # <65>
print("<%10s>" % v)   # <      65>
print("<%-10s>" % v)  # <65      >
print("<%c>" % v)     # <A>
print("<%d>" % v)     # <65>
print("<%0.5d>" % v)  # <00065>

<65>
<        65>
<65        >
<A>
<65>
<00065>

## Examples using format with names

In [3]:
txt = "Foo Bar"
num = 42.12

print("The user {name} was born {age} years ago.".format(name = txt, age = num))

The user Foo Bar was born 42.12 years ago.

## Format columns

In this example we use a list of lists that we have not learned yet, but don't worry about that for now. Focus on the output of the two print statements.

In [8]:

data = [
    ["Foo Bar", 42],
    ["Bjorg", 12345],
    ["Roza", 7],
    ["Long Name Joe", 3],
    ["Joe", 12345677889],
]

for entry in data:
    print("{} {}".format(entry[0], entry[1]))

print('-' * 32)
print('Table Format'.center(32, "-"))
print('-' * 32)

for entry in data:
    print("{:<16}|{:>15}".format(entry[0], entry[1]))

Foo Bar 42
Bjorg 12345
Roza 7
Long Name Joe 3
Joe 12345677889
--------------------------------
----------Table Format----------
--------------------------------
Foo Bar         |             42
Bjorg           |          12345
Roza            |              7
Long Name Joe   |              3
Joe             |    12345677889

## Examples using format - alignment

In [18]:
txt = "Some text"

print("'{}'".format(txt))     #  as is:   'Some text'
print("'{:12}'".format(txt))  #  left:    'Some text   '
print("'{:<12}'".format(txt)) #  left:    'Some text   '
print("'{:>12}'".format(txt)) #  right:   '   Some text'
print("'{:^12}'".format(txt)) #  center:  ' Some text  '

'Some text'
'Some text   '
'Some text   '
'   Some text'
' Some text  '

## Format - string

In [9]:
name = "Foo Bar"

print("{:s}".format(name))
print("{}".format(name))

Foo Bar
Foo Bar

## Format characters and types (binary, octal, hexa)

In [10]:
val = 42

print("{:b}".format(val)) #  binary:    101010
print("{:c}".format(val)) #  character: *
print("{:d}".format(val)) #  decimal:   42      (default)
print("{:o}".format(val)) #  octal:     52
print("{:x}".format(val)) #  hexa:      2a
print("{:X}".format(val)) #  hexa:      2A
print("{:n}".format(val)) #  number:    42


print("{}".format(val))   # 42 (same as decimal)


# Zero padding
print("'{:2n}'".format(3))  # ' 3'
print("'{:02n}'".format(3)) # '03'
print("'{:02n}'".format(14)) # '14'


# Zero padding hexa
print("'{:2X}'".format(3))  # ' 3'
print("'{:02X}'".format(3)) # '03'
print("'{:02X}'".format(14)) # '0E'
print("'{:02X}'".format(70)) # '46'

101010
*
42
52
2a
2A
42
42
' 3'
'03'
'14'
' 3'
'03'
'0E'
'46'

## Format floating point number

In [11]:
x = 412.345678901

print("{:e}".format(x))   #  exponent:     4.123457e+02
print("{:E}".format(x))   #  Exponent:     4.123457E+02
print("{:f}".format(x))   #  fixed point:  412.345679 (default precision is 6)
print("{:.2f}".format(x)) #  fixed point:  412.35 (set precision to 2)
print("{:F}".format(x))   #  same as f.    412.345679
print("{:g}".format(x))   #  generic:      412.346    (default precision is 6)
print("{:G}".format(x))   #  generic:      412.346
print("{:n}".format(x))   #  number:       412.346


print("{}".format(x))     # defaults to g  412.345678901

4.123457e+02
4.123457E+02
412.345679
412.35
412.345679
412.346
412.346
412.346
412.345678901

## Examples using format - indexing

In [12]:
txt = "Foo Bar"
num = 42.12

print("The user {} was born {} years ago.".format(txt, num))
print("The user {0} was born {1} years ago.".format(txt, num))
print("The user {1} was born {0} years ago.".format(num, txt))


print("{0} is {0} and {1} years old.".format(txt, num))

The user Foo Bar was born 42.12 years ago.
The user Foo Bar was born 42.12 years ago.
The user Foo Bar was born 42.12 years ago.
Foo Bar is Foo Bar and 42.12 years old.

## Format characters and types using f-format

In [13]:
val = 42

print(f"{val:b}") #  binary:    101010
print(f"{val:c}") #  character: *
print(f"{val:d}") #  decimal:   42      (default)
print(f"{val:o}") #  octal:     52
print(f"{val:x}") #  hexa:      2a
print(f"{val:X}") #  hexa:      2A
print(f"{val:n}") #  number:    42


print(f"{val}")   # 42 (same as decimal)

# Zero padding
val = 3
print(f"'{val:2n}'")  # ' 3'
print(f"'{val:02n}'") # '03'
val = 14
print(f"'{val:02n}'") # '14'


# Zero padding hexa
val = 3
print(f"'{val:2X}'")  # ' 3'
print(f"'{val:02X}'") # '03'
val = 14
print(f"'{val:02X}'") # '0E'
val = 70
print(f"'{val:02X}'") # '46'

101010
*
42
52
2a
2A
42
42
' 3'
'03'
'14'
' 3'
'03'
'0E'
'46'

## f-format (formatted string literals)
`Since Python 3.6`

In [15]:
name = "Foo Bar"
age = 42.12
pi = 3.141592653589793
r = 2

print(f"The user {name} was born {age} years ago.")
print(f"The user {name:10} was born {age} years ago.")
print(f"The user {name:>10} was born {age} years ago.")
print(f"The user {name:>10} was born {age:>10} years ago.")

print(f"PI is '{pi:.3}'.")   # number of digits (defaults n = number)
print(f"PI is '{pi:.3f}'.")  # number of digits after decimal point

print(f"Area is {pi * r ** 2}")
print(f"Area is {pi * r ** 2:.3f}")

The user Foo Bar was born 42.12 years ago.
The user Foo Bar    was born 42.12 years ago.
The user    Foo Bar was born 42.12 years ago.
The user    Foo Bar was born      42.12 years ago.
PI is '3.14'.
PI is '3.142'.
Area is 12.566370614359172
Area is 12.566

## Format floating point numbers using f-format

In [16]:
val = 412.345678901

print(f"{val:e}")   #  exponent:     4.123457e+02
print(f"{val:E}")   #  Exponent:     4.123457E+02
print(f"{val:f}")   #  fixed point:  412.345679 (default precision is 6)
print(f"{val:.2f}") #  fixed point:  412.35 (set precision to 2)
print(f"{val:F}")   #  same as f.    412.345679
print(f"{val:g}")   #  generic:      412.346    (default precision is 6)
print(f"{val:G}")   #  generic:      412.346
print(f"{val:n}")   #  number:       412.346


print(f"{val}")     # defaults to g  412.345678901

4.123457e+02
4.123457E+02
412.345679
412.35
412.345679
412.346
412.346
412.346
412.345678901

## Format braces, bracket, and parentheses

These are just some extreme special cases. Most people won't need to know about them.

> To print `{` include `{{`.
>
> To print `}` include `}}`.

In [17]:
print("{{{}}}".format(42))   # {42}

print("{{ {} }}".format(42))   # { 42 }

print("[{}] ({})".format(42, 42))   # [42] (42)

print("%{}".format(42))   # %42

{42}
{ 42 }
[42] (42)
%42

## parameterized formatter

In [19]:
def formatter(value, filler, width):
    return "{var:{fill}>{width}}".format(var=value, fill=filler, width=width)

text = formatter(23, "0", 7)
print(text)


print(formatter(42, " ", 7))
print(formatter(1234567, " ", 7))

0000023
     42
1234567

## format binary, octal, hexa numbers

In [20]:
a = 42

text = "{:b}".format(a)
print(text)   # 101010

text = "{:#b}".format(a)
print(text)   # 0b101010

101010
0b101010

In [21]:
a = 42

text = "{:o}".format(a)
print(text)   # 52

text = "{:#o}".format(a)
print(text)   # 0o52

52
0o52

In [22]:
a = 42

text = "{:x}".format(a)
print(text)   # 2a 

text = "{:#x}".format(a)
print(text)   # 0x2a

text = "{:#X}".format(a)
print(text)   # 0x2A

2a
0x2a
0X2A

## Examples using format with attributes of objects

This is also a rather strange example, I don't think I'd use it in real code.

In [ ]:
import sys

print("{0.executable}".format(sys))
print("{system.argv[0]}".format(system = sys))

## raw f-format

In [25]:
name="foo"
print(r"a\nb {name}")
print(rf"a\nb {name}")
print(fr"a\nb {name}")  # this is better (for vim)

a\nb {name}
a\nb foo
a\nb foo