## Anything can be a list

- Comma separated values
- In square brackets
- Can be any value, and a mix of values: Integer, Float, Boolean, None, String, List, Dictionary, ...
- But usually they are of the same type:
- Distances of astronomical objects
- Chemical Formulas
- Filenames
- Names of devices
- Objects describing attributes of a network device.
- Actions to do on your data.

In [4]:
stuff = [42, 3.14, True, None, "Foo Bar", ['another', 'list'], {'a': 'Dictionary', 'language' : 'Python'}]
print(stuff)

[42, 3.14, True, None, 'Foo Bar', ['another', 'list'], {'a': 'Dictionary', 'language': 'Python'}]

## Any layout
- Layout is flexible
- Trailing comma is optional. It does not disturb us. Nor Python.

In [5]:
more_stuff = [
    42,
    3.14,
    True,
    None,
    "Foo Bar",
    ['another', 'list'],
    {
        'a': 'Dictionary',
        'language' : 'Python',
    },
]
print(more_stuff)

[42, 3.14, True, None, 'Foo Bar', ['another', 'list'], {'a': 'Dictionary', 'language': 'Python'}]

## Access elements of a list
- Access single element: [index]
- Access a sublist: [start:end]
- Creates a copy of that sublist

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

print(planets)            # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
print(len(planets))       # 6
print(type(planets))      # <class 'list'>

print(planets[0])         # Mercury
print(type(planets[0]))   # <class 'str'>
print(planets[3])         # Mars

print(planets[0:2])       # ['Mercury', 'Venus']
print(planets[1:4])       # ['Venus', 'Earth', 'Mars']

print(planets[0:1])       # ['Mercury']
print(type(planets[0:1])) # <class 'list'>

print(planets[2:])        # ['Earth', 'Mars', 'Jupiter', 'Saturn']
print(planets[:3])        # ['Mercury', 'Venus', 'Earth']

print(planets[:])         # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
6
<class 'list'>
Mercury
<class 'str'>
Mars
['Mercury', 'Venus']
['Venus', 'Earth', 'Mars']
['Mercury']
<class 'list'>
['Earth', 'Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

## List slice with steps
- List slice with step: [start:end:step]

In [9]:

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[::])       # ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[::1])      # ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[::2])      # ['a', 'c', 'e', 'g', 'i']

print(letters[1::2])     # ['b', 'd', 'f', 'h', 'j']

print(letters[2:8:2])    # ['c', 'e', 'g']

print(letters[1:20:3])   # ['b', 'e', 'h']

print(letters[20:30:3])   # []

print(letters[8:3:-2])   # ['i', 'g', 'e']

print(letters[8:3:2])   # []

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'c', 'e', 'g', 'i']
['b', 'd', 'f', 'h', 'j']
['c', 'e', 'g']
['b', 'e', 'h']
[]
['i', 'g', 'e']
[]

## Change a List

In [10]:
fruits = ['apple', 'banana', 'peach', 'strawberry']
print(fruits)      # ['apple', 'banana', 'peach', 'strawberry']
fruits[0] = 'orange'
print(fruits)      # ['orange', 'banana', 'peach', 'strawberry']

print(fruits[1:3]) # ['banana', 'peach']
fruits[1:3] = ['grape', 'kiwi']
print(fruits)      #  ['orange', 'grape', 'kiwi', 'strawberry']

print(fruits[1:3]) # ['grape', 'kiwi']
fruits[1:3] = ['mango']
print(fruits)      #  ['orange', 'mango', 'strawberry']

print(fruits[1:2]) # ['mango']
fruits[1:2] = ["banana", "peach"]
print(fruits)      # ['orange', 'banana', 'peach', 'strawberry']

print(fruits[1:1]) # []
fruits[1:1] = ['apple', 'pineapple']
print(fruits)      # ['orange', 'apple', 'pineapple', 'banana', 'peach', 'strawberry']

['apple', 'banana', 'peach', 'strawberry']
['orange', 'banana', 'peach', 'strawberry']
['banana', 'peach']
['orange', 'grape', 'kiwi', 'strawberry']
['grape', 'kiwi']
['orange', 'mango', 'strawberry']
['mango']
['orange', 'banana', 'peach', 'strawberry']
[]
['orange', 'apple', 'pineapple', 'banana', 'peach', 'strawberry']

## Change sublist vs change element of a list

In [11]:
#change sublist
fruits = ['orange', 'mango', 'strawberry']

print(fruits[1:2]) # ['mango']
fruits[1:2] = ["banana", "peach"]
print(fruits)      # ['orange', 'banana', 'peach', 'strawberry']

['mango']
['orange', 'banana', 'peach', 'strawberry']

In [12]:
# change element
fruits = ['orange', 'mango', 'strawberry']

print(fruits[1]) # mango
fruits[1] = ["banana", "peach"]
print(fruits)    #  ['orange', ['banana', 'peach'], 'strawberry']

mango
['orange', ['banana', 'peach'], 'strawberry']

## Change with steps

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)  # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

print(numbers[1::2])   # [2, 4, 6, 8, 10, 12]
numbers[1::2] = [0, 0, 0, 0, 0, 0]
print(numbers)  # [1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0]

numbers[1::2] = [42] * 6
print(numbers)  # [1, 42, 3, 42, 5, 42, 7, 42, 9, 42, 11, 42]

numbers[2::3] = [7] * len(numbers[2::3])
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12]
[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0]
[1, 42, 3, 42, 5, 42, 7, 42, 9, 42, 11, 42]
[1, 42, 7, 42, 5, 7, 7, 42, 7, 42, 11, 7]

## List assignment and list copy

In [16]:
fruits = ['apple', 'banana', 'peach', 'kiwi']
salad = fruits #shallow copy
fruits[0] = 'orange'
print(fruits)   # ['orange', 'banana', 'peach', 'kiwi']
print(salad)    # ['orange', 'banana', 'peach', 'kiwi']

['orange', 'banana', 'peach', 'kiwi']
['orange', 'banana', 'peach', 'kiwi']

- There is one list in the memory and two pointers to it.
- If you really want to make a copy the pythonic way is to use the slice syntax.
- It creates a shallow copy.

In [18]:
fruits = ['apple', 'banana', 'peach', 'kiwi']
salad = fruits[:] #deep copy

fruits[0] = 'orange'

print(fruits)   # ['orange', 'banana', 'peach', 'kiwi']
print(salad)    # ['apple', 'banana', 'peach', 'kiwi']

['orange', 'banana', 'peach', 'kiwi']
['apple', 'banana', 'peach', 'kiwi']

## Shallow vs. Deep copy of lists
> `copy`
>
>`copy.copy()`     # shallow copy
>
> `copy.deepcopy()` # deep copy

In [22]:

fruits = ['apple', ['banana', 'peach'], 'kiwi']
print(fruits)        # ['apple', ['banana', 'peach'], 'kiwi']
print(fruits[0])     # apple
print(fruits[1][0])  # banana

salad = fruits[:]
print(salad)
fruits[0] = 'orange'
fruits[1][0] = 'mango'


print(fruits)  # ['orange', ['mango', 'peach'], 'kiwi']
print(salad)   # ['apple', ['mango', 'peach'], 'kiwi']

# Note that fruits[1] (list) is shallow copied

['apple', ['banana', 'peach'], 'kiwi']
apple
banana
['apple', ['banana', 'peach'], 'kiwi']
['orange', ['mango', 'peach'], 'kiwi']
['apple', ['mango', 'peach'], 'kiwi']

In [23]:
import copy
fruits = ['apple', ['banana', 'peach'], 'kiwi']
print(fruits)        # ['apple', ['banana', 'peach'], 'kiwi']
print(fruits[0])     # apple
print(fruits[1][0])  # banana

salad = copy.deepcopy(fruits)

fruits[0] = 'orange'
fruits[1][0] = 'mango'

print(fruits)  # ['orange', ['mango', 'peach'], 'kiwi']
print(salad)   # ['apple', ['banana', 'peach'], 'kiwi']

['apple', ['banana', 'peach'], 'kiwi']
apple
banana
['orange', ['mango', 'peach'], 'kiwi']
['apple', ['banana', 'peach'], 'kiwi']

## join

In [25]:
fruits = ['apple', 'banana', 'peach', 'kiwi']

together = ':'.join(fruits)
print(together) # apple:banana:peach:kiwi

together = ' '.join(fruits)
print(together) # apple banana peach kiwi

mixed = ' -=<> '.join(fruits)
print(mixed) # apple -=<> banana -=<> peach -=<> kiwi

another = ''.join(fruits)
print(another)  # applebananapeachkiwi

csv = ','.join(fruits)
print(csv) # apple,banana,peach,kiwi


# For real CSV use: csv

apple:banana:peach:kiwi
apple banana peach kiwi
apple -=<> banana -=<> peach -=<> kiwi
applebananapeachkiwi
apple,banana,peach,kiwi

## join list of numbers

In [26]:
a = ["x", "2", "y"]
b = ["x", 2, "y"]
print(":".join(a))    # x:2:y
# print ":".join(b)    # TypeError: sequence item 1: expected string, int found

# convert elements to string using map
print(":".join( map(str, b) ))        # x:2:y


# convert elements to string using list comprehension
print(":".join( str(x) for x in b ))  # x:2:y

x:2:y
x:2:y
x:2:y

## split
- Special case: To split a string to its characters: Use the list() function.
- Split using more than one splitter: use re.split

In [27]:

words = "ab:cd::ef".split(':')
print(words)    # ['ab', 'cd', '', 'ef']

by_space = "foo   bar baz".split(' ')
print(by_space) # ['foo', '', '', 'bar', 'baz']

# special case: split by spaces
names = "foo   bar baz".split()
print(names)    # ['foo', 'bar', 'baz']

# special case: split to characters
chars = list("ab cd")
print(chars)    # ['a', 'b', ' ', 'c', 'd']

['ab', 'cd', '', 'ef']
['foo', '', '', 'bar', 'baz']
['foo', 'bar', 'baz']
['a', 'b', ' ', 'c', 'd']

## for loop on lists

In [28]:
things = ['apple', 'banana', 'peach', 42]
for var in things:
    print(var)

apple
banana
peach
42

## in list
- Check if the value is in the list?

In [30]:
words = ['apple', 'banana', 'peach', '42']
if 'apple' in words:
    print('found apple')

if 'a' in words:
    print('found a')
else:
    print('NOT found a')

if 42 in words:
    print('found int 42')
elif '42' in words:
    print('found str 42')
else:
    print('NOT found 42')

# found apple
# NOT found a
# NOT found 42

found apple
NOT found a
found str 42

## Where is the element in the list

In [32]:
words = ['cat', 'dog', 'snake', 'camel']
print(words.index('snake'))

print(words.index('python')) #exception

2

ValueError: 'python' is not in list

## Index improved

In [33]:
words = ['cat', 'dog', 'snake', 'camel']

name = 'snake'
if name in words:
    print(words.index(name))

name = 'python'
if name in words:
    print(words.index(name))

2

## [].insert

In [34]:
words = ['apple', 'banana', 'cat']
print(words)  # ['apple', 'banana', 'cat']

words.insert(2, 'zebra')
print(words)  # ['apple', 'banana', 'zebra', 'cat']

words.insert(0, 'dog')
print(words)  # ['dog', 'apple', 'banana', 'zebra', 'cat']

# Instead of this, use append (next slide)
words.insert(len(words), 'olifant')
print(words)  # ['dog', 'apple', 'banana', 'zebra', 'cat', 'olifant']

['apple', 'banana', 'cat']
['apple', 'banana', 'zebra', 'cat']
['dog', 'apple', 'banana', 'zebra', 'cat']
['dog', 'apple', 'banana', 'zebra', 'cat', 'olifant']

## [].append

In [35]:
names = ['Foo', 'Bar', 'Zorg', 'Bambi']
print(names)  # ['Foo', 'Bar', 'Zorg', 'Bambi']

names.append('Qux')
print(names)  # ['Foo', 'Bar', 'Zorg', 'Bambi', 'Qux']

['Foo', 'Bar', 'Zorg', 'Bambi']
['Foo', 'Bar', 'Zorg', 'Bambi', 'Qux']

## [].remove

- Remove first element from a list given by its value. 
- Throws an exception if there is no such element in the list.

In [36]:
names = ['Joe', 'Kim', 'Jane', 'Bob', 'Kim']
print(names)                # ['Joe', 'Kim', 'Jane', 'Bob', 'Kim']

print(names.remove('Kim'))  # None
print(names)                # ['Joe', 'Jane', 'Bob', 'Kim']

print(names.remove('George'))
   # Traceback (most recent call last):
   #   File "examples/lists/remove.py", line 9, in <module>
   #     print(names.remove('George'))  # None
   # ValueError: list.remove(x): x not in list

['Joe', 'Kim', 'Jane', 'Bob', 'Kim']
None
['Joe', 'Jane', 'Bob', 'Kim']

ValueError: list.remove(x): x not in list

## Remove element by index [].pop
- Remove and return the last element of a list. 
- Throws an exception if the list was empty.

In [37]:
lanets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
print(planets)          # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

third = planets.pop(2)
print(third)            # Earth
print(planets)          # ['Mercury', 'Venus', 'Mars', 'Jupiter']

last = planets.pop()
print(last)             # Jupiter
print(planets)          # ['Mercury', 'Venus', 'Mars']

# planets.pop(4)          # IndexError: pop index out of range

jupyter_landers = []
# jupyter_landers.pop()   # IndexError: pop from empty list

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
Earth
['Mercury', 'Venus', 'Mars', 'Jupiter', 'Saturn']
Saturn
['Mercury', 'Venus', 'Mars', 'Jupiter']

## Remove first element of list
- To remove an element by its index, use the slice syntax:

In [39]:
names = ['foo', 'bar', 'baz', 'moo']

first = names.pop(0)
print(first)    # foo
print(names)    # ['bar', 'baz', 'moo']

foo
['bar', 'baz', 'moo']

## Remove several elements of list by index
- To remove an element by its index, use the slice syntax:

In [40]:
names = ['foo', 'bar', 'baz', 'moo', 'qux']

names[2:4] = []
print(names)    # ['foo', 'bar', 'qux']

['foo', 'bar', 'qux']

## Use list as a queue - FIFO

In [41]:
a_queue = []
print(a_queue)

a_queue.append('Moo')
print(a_queue)

a_queue.append('Bar')
print(a_queue)

first = a_queue.pop(0)
print(first)
print(a_queue)

[]
['Moo']
['Moo', 'Bar']
Moo
['Bar']

## Queue using deque from collections

In [42]:
from collections import deque

fruits = deque()

print(type(fruits))  # <type 'collections.deque'>
print(fruits)        # deque([])
print(len(fruits))   # 0

fruits.append('Apple')
print(fruits)        # deque(['Apple'])
print(len(fruits))   # 1

fruits.append('Banana')
fruits.append('Peach')
print(fruits)        # deque(['Apple', 'Banane', 'Peach'])
print(len(fruits))   # 3

nxt = fruits.popleft()
print(nxt)           # 'Apple'
print(fruits)        # deque(['Banana', 'Peach'])
print(len(fruits))   # 2

if fruits:
    print("The queue has items")
else:
    print("The queue is empty")

nxt = fruits.popleft()
nxt = fruits.popleft()

if fruits:
    print("The queue has items")
else:
    print("The queue is empty")

<class 'collections.deque'>
deque([])
0
deque(['Apple'])
1
deque(['Apple', 'Banana', 'Peach'])
3
Apple
deque(['Banana', 'Peach'])
2
The queue has items
The queue is empty

## Fixed size queue

In [43]:
from collections import deque

queue = deque([], maxlen = 3)
print(len(queue))     # 0
print(queue.maxlen)   # 3

queue.append("Foo")
queue.append("Bar")
queue.append("Baz")
print(queue)          # deque(['Foo', 'Bar', 'Baz'], maxlen=3)

queue.append("Zorg")  # Automatically removes the left-most (first) element
print(queue)          # deque(['Bar', 'Baz', 'Zorg'], maxlen=3)

0
3
deque(['Foo', 'Bar', 'Baz'], maxlen=3)
deque(['Bar', 'Baz', 'Zorg'], maxlen=3)

## List as a stack - LIFO

In [44]:
stack = []

stack.append("Joe")
print(stack)
stack.append("Jane")
print(stack)
stack.append("Bob")
print(stack)

while stack:
    name = stack.pop()
    print(name)
    print(stack)

['Joe']
['Joe', 'Jane']
['Joe', 'Jane', 'Bob']
Bob
['Joe', 'Jane']
Jane
['Joe']
Joe
[]

## stack with deque

In [45]:
from collections import deque
stack = deque()

stack.append("Joe")
stack.append("Jane")
stack.append("Bob")

while stack:
    name = stack.pop()
    print(name)

# Bob
# Jane
# Joe

Bob
Jane
Joe

## Exercies: Queue
- The application should manage a queue of people.
- It will prompt the user for a new name by printing :, the user can type in a name and press ENTER. The app will add the name to the queue.
- If the user types in "n" then the application will remove the first name from the queue and print it.
- If the user types in "x" then the application will print the list of users who were left in the queue and it will exit.
- If the user types in "s" then the application will show the current number of elements in the queue.

In [ ]:
queue = []

while True:
    inp = input(":")
    inp = inp.rstrip("\n")

    if inp == 'x':
        for name in queue:
            print(name)
        exit()

    if inp == 's':
        print(len(queue))
        continue

    if inp == 'n':
        if len(queue) > 0:
            print("next is {}".format(queue.pop(0)))
        else:
            print("the queue is empty")
        continue

    queue.append(inp)

## Exercise: Stack
- Implement a Reverse Polish Calculator

In [ ]:
stack = []

print("x = eXit, s = Show, [+-*/=]")
while True:
    val = input(':')

    if val == 's':
        print(stack)
        continue

    if val == 'x':
        break

    if val == '+':
        a = stack.pop()
        b = stack.pop()
        stack.append(a+b)
        continue

    if val == '-':
        a = stack.pop()
        b = stack.pop()
        stack.append(a-b)
        continue

    if val == '*':
        a = stack.pop()
        b = stack.pop()
        stack.append(a*b)
        continue

    if val == '/':
        a = stack.pop()
        b = stack.pop()
        stack.append(a/b)
        continue

    if val == '=':
        print(stack.pop())
        continue

    stack.append(float(val))

## Reverse Polish calculator (stack) with deque

In [ ]:
from collections import deque

stack = deque()

while True:
    val = input(':')

    if val == 'x':
        break

    if val == '+':
        a = stack.pop()
        b = stack.pop()
        stack.append(a+b)
        continue

    if val == '*':
        a = stack.pop()
        b = stack.pop()
        stack.append(a*b)
        continue


    if val == '=':
        print(stack.pop())
        continue

    stack.append(float(val))

## Exercise: MasterMind
- Implement the **_Master Mind_** board game.
- The computer "thinks" a number with 4 different digits.
- The user guesses which digits.
- For every digit that matched both in value, and in location the computer gives a *.
- For every digit that matches in value, but not in space the computer gives you a +.
- The user tries to guess the given number in as few guesses as possible.
> - _Wordle is basically the same game, just with letters and the extra limitation that each guess must be a valid word._

In [1]:
import random
import sys

width = 4

# TODO: verify that the user gave exactly width characters

def main():
    hidden = list(map(str, random.sample(range(10), width)))
    print(f"Hidden numbers: {hidden}")
    while True:
        inp = input("Guess a number: (e.g. 1234) or x to eXit. ")
        if inp == 'x' or inp == 'X':
            exit()
        guess = list(inp)
        print(guess)
        result = []
        for ix in range(len(hidden)):
            if guess[ix] == hidden[ix]:
                result += '*'
            elif guess[ix] in hidden:
                result += '+'
        print(result)
        if result == ['*'] * width:
            print("SUCCESS")
            break
main()

## DEBUG THIS CODE

In [ ]:
import random


def number_generator():
    y = [0, 0, 0, 0]

    for i in range(0, 4):
        y[i] = random.randrange(0, 10)
        # print(y)
        if i:
            number += str(y[i])
        else:
            number = str(y[i])
    # print(number)
    return number


def user_input():
    x = input("Type in 4 digits number:")
    if len(x) == 4:
        return x
    else:
        print("wrong input")
        user_input()


def string_compare(x, y):
    r = 0
    q = 0
    for i in range(0, 4):
        if x[i] == y[i]:
            r += 1
            continue
        for j in range(0, 4):
            if x[i] == y[j]:
                if i == j:
                    continue
                else:
                    q += 1
                    break
    return r, q


def print_result(r):
    print("")
    for i in range(0, r[0]):
        print("*", end="")
    for i in range(0, r[1]):
        print("+", end="")
    print("\n")


def main():
    comp = number_generator()
    result = 0
    while True:
        user = user_input()
        result = string_compare(comp, user)
        print_result(result)
        # print(result)
        if result[0] == 4:
            print("Correct!")
            return


main()

# Part II

## sort

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
print(planets)     # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
planets.sort()
print(planets)     # ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Saturn', 'Venus']

planets.sort(reverse=True)
print(planets)     # ['Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter', 'Earth']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['Earth', 'Jupiter', 'Mars', 'Mercury', 'Saturn', 'Venus']
['Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter', 'Earth']

## sort numbers

In [3]:
numbers = [7, 2, -4, 19, 8]
print(numbers)                      # [7, 2, -4, 19, 8]
numbers.sort()
print(numbers)                      # [-4, 2, 7, 8, 19]

numbers.sort(reverse=True)
print(numbers)                      # [19, 9, 7, 2, -4]

numbers.sort(key=abs, reverse=True)
print(numbers)                      # [19, 9, 7, -4, 2]

[7, 2, -4, 19, 8]
[-4, 2, 7, 8, 19]
[19, 8, 7, 2, -4]
[19, 8, 7, -4, 2]

## key sort of strings

In [4]:
animals = ['chicken', 'cow', 'snail', 'elephant']
print(animals)

animals.sort()
print(animals)

animals.sort(key=len)
print(animals)

animals.sort(key=len, reverse=True)
print(animals)

['chicken', 'cow', 'snail', 'elephant']
['chicken', 'cow', 'elephant', 'snail']
['cow', 'snail', 'chicken', 'elephant']
['elephant', 'chicken', 'snail', 'cow']

## sort mixed values

In [5]:
mixed = [100, 'foo', 42, 'bar']
print(mixed)
mixed.sort()
print(mixed)

[100, 'foo', 42, 'bar']

TypeError: '<' not supported between instances of 'str' and 'int'

## sort mixed values fixed with str

In [6]:
mixed = [100, 'foo', 42, 'bar']
print(mixed)

mixed.sort(key=str)
print(mixed)

[100, 'foo', 42, 'bar']
[100, 42, 'bar', 'foo']

## sorting with sorted

In [ ]:
animals = ['chicken', 'cow', 'snail', 'elephant']
print(animals)         # ['chicken', 'cow', 'snail', 'elephant']

srd = sorted(animals)
print(srt)             # ['chicken', 'cow', 'elephant', 'snail']
print(animals)         # ['chicken', 'cow', 'snail', 'elephant']

rev = sorted(animals, reverse=True, key=len)
print(rev)             # ['elephant', 'chicken', 'snail', 'cow']
print(animals)         # ['chicken', 'cow', 'snail', 'elephant']

## sort vs. sorted

**The sort() method will sort a list in-place and return None. The built-in sorted() function will return the sorted list and leave the original list intact.**

## Sorted and change - shallow copy

- Sorted creates a shallow copy of the original list
- If the list elements are simple values that creates a copy

In [8]:
planets = ["Mercury", "Venus", "Earth"]
other_planets = planets
sorted_planets = sorted(planets)
planets[0] = "Jupiter"
print(planets)
print(other_planets)
print(sorted_planets)

['Jupiter', 'Venus', 'Earth']
['Jupiter', 'Venus', 'Earth']
['Earth', 'Mercury', 'Venus']

If some of the elements are complex structures (list, dictionaries, etc.) then the internal structures are not copied.
One can use copy.deepcopy to make sure the whole structure is separated, if that's needed.

In [9]:
planets = [
    ["Mercury", 1],
    ["Venus", 2],
    ["Earth", 3],
    ["Earth", 2]
]
other_planets = planets
sorted_planets = sorted(planets)
print(sorted_planets)

planets[0][1] = 100
print(planets)
print(other_planets)
print(sorted_planets)

[['Earth', 2], ['Earth', 3], ['Mercury', 1], ['Venus', 2]]
[['Mercury', 100], ['Venus', 2], ['Earth', 3], ['Earth', 2]]
[['Mercury', 100], ['Venus', 2], ['Earth', 3], ['Earth', 2]]
[['Earth', 2], ['Earth', 3], ['Mercury', 100], ['Venus', 2]]

## Sorting characters of a string

In [10]:
letters = 'axzb'
print(letters)         # 'axzb'

srt = sorted(letters)
print(srt)             # ['a', 'b', 'x', 'z']
print(letters)         # 'axzb'

rev = ''.join(srt)
print(rev)               # abxz

# in one statement:
rev = ''.join(sorted(letters))
print(rev)               # abxz

axzb
['a', 'b', 'x', 'z']
axzb
abxz
abxz

## range

In [11]:
for ix in range(11, 19, 2):
    print(ix)
# 11
# 13
# 15
# 17

for ix in range(5, 7):
    print(ix)
# 5
# 6

for ix in range(3):
    print(ix)
# 0
# 1
# 2

for ix in range(19, 11, -2):
    print(ix)

# 19
# 17
# 15
# 13

11
13
15
17
5
6
0
1
2
19
17
15
13

## Looping over index

In [12]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
for var in planets:
    print(var)

Mercury
Venus
Earth
Mars
Jupiter
Saturn

In [13]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
for ix in range(len(planets)):
    print(ix, planets[ix])

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn

## Enumerate lists

In [14]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
for idx, planet in enumerate(planets):
    print(idx, planet)

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn

## List operators

In [15]:
a = ['one', 'two']
b = ['three']

print(a)     # ['one', 'two']

print(a * 2) # ['one', 'two', 'one', 'two']
print(2 * a) # ['one', 'two', 'one', 'two']

print(a + b) # ['one', 'two', 'three']
print(b + a) # ['three', 'one', 'two']

['one', 'two']
['one', 'two', 'one', 'two']
['one', 'two', 'one', 'two']
['one', 'two', 'three']
['three', 'one', 'two']

## List of lists

In [16]:
x = ['abc', 'def']
print(x)     # ['abc', 'def']

y = [x, 'xyz']
print(y)          # [['abc', 'def'], 'xyz']
print(y[0])       #  ['abc', 'def']

print(x[0])       #    abc
print(y[0][0])    #    abc

['abc', 'def']
[['abc', 'def'], 'xyz']
['abc', 'def']
abc
abc

## List assignment

In [17]:
x, y = 1, 2
print(x)      # 1
print(y)      # 2

x, y = y, x
print(x)      # 2
print(y)      # 1

def stats(num):
    return sum(num), sum(num)/len(num), min(num), max(num)

total, average, minimum, maximum = stats([2, 3, 4])
print(total, average, minimum, maximum) # 9 3.0 2 4

1
2
2
1
9 3.0 2 4

> `x,y = f()`   works if f returns a list of 2 elements
>
> It will throw a run-time `ValueError` exception if the number of values in the returned list is not 2.
>
> (**Both for fewer and for more return values**).

## List documentation  
**<p style='color:red'>20 most common list methods in Python:</p>**


> **append(element)**: Adds an element to the end of the list.
>
> **extend(iterable)**: Appends elements from an iterable to the end of the list.
>
> **insert(index, element)**: Inserts an element at a specified position in the list.
>
> **remove(element)**: Removes the first occurrence of the specified element from the list.
>
> **pop([index])**: Removes and returns the element at the specified index, or the last element if no index is provided.
>
> **index(element[, start[, end]])**: Returns the index of the first occurrence of the specified element.
>
> **count(element)**: Returns the number of occurrences of the specified element in the list.
>
> **sort(key=None, reverse=False)**: Sorts the list in ascending order.<br/> Optionally, you can provide a custom sorting key and set the reverse flag to True for descending order.
>
> **reverse()**: Reverses the order of the elements in the list.
>
> **copy()**: Returns a shallow copy of the list.
>
> **clear()**: Removes all elements from the list.
> 
> **len()**: Returns the number of elements in the list.
>
> **max()**: Returns the maximum value in the list.
>
> **min()**: Returns the minimum value in the list.
> 
> **sum()**: Returns the sum of all elements in the list.
>
> **index(element[, start[, end]])**: Returns the index of the first occurrence of the specified element.
> 
> **extend(iterable)**: Appends elements from an iterable to the end of the list.
> 
> **remove(element)**: Removes the first occurrence of the specified element from the list.
> 
> **pop([index])**: Removes and returns the element at the specified index, or the last element if no index is provided.
>
> **insert(index, element)**: Inserts an element at a specified position in the list.

## Exercies

### Exercise: color selector menu

- In a script called color_selector_menu.py have a list of colors. Write a script that will display a menu (a list of numbers and the corresponding color) and prompts the user for a number. The user needs to type in one of the numbers. That's the selected color.

1. blue
2. green
3. yellow
4. white

- For extra credit make sure the system is user-proof and it won't blow up on various incorrect input values. (e.g Floating point number. Number that is out of range, non-number)
- For more credit allow the user to supply the number of the color on the command line. python color_selector_menu.py 3. If that is available, don't prompt.
- For further credit allow the user to provide the name of the color on the command line: python color_selector_menu.py yellow Can you handle color names that are not in the expected case (e.g. YelloW)?
- Any more ideas for improvement?

In [19]:
colors = ['blue', 'yellow', 'black', 'purple']
for ix in range(len(colors)):
    print("{}) {}".format(ix+1, colors[ix]))

selection = input("Select color: ")
if not selection.isdecimal():
    exit(f"We need a number between 1 and {len(colors)}")

if int(selection) < 1 or int(selection) > len(colors):
    exit(f"The number must be between 1 and {len(colors)}")

col = int(selection) - 1
print(colors[col])

1) blue
2) yellow
3) black
4) purple

Select color:  2

yellow

- We would like to show a menu where each number corresponds to one element of the list so this is one of the places where we need to iterate over the indexes of a list.
- len(colors) gives us the length of the list (in our case 4)
- range(len(colors)) is the range of numbers between 0 and 4 (in our case), meaning 0, 1, 2, 3.
- (Sometimes people explicitly write 4 in this solution, but if later we change the list and include another color we'll have to remember updating this number as well. This is error prone and it is very easy to deduct this number from the data we already have. (The list.))
- We start the list from 0, but when we display the menu we would like to show the numbers 1-4 to make it more human friendly. Therefore we show ix+1 and the color from locations ix.
- We ask for input and save it in a variable.
- We use the isdecimal method to check if the user typed in a decimal number. We give an error and exit if not.
- Then we check if the users provided a number in the correct range of values. We give an error and exit if not.
- then we convert the value to the correct range of numbers (remember, the user sees and selects numbers between 1-4 and we need them between 0-3).

### Exercise: count digits
- Create a script called count_digits_in_lists.py that given a list of numbers count how many times each digit appears? The output will look like this:

0 : 1<br/>
1 : 3<br/>
2 : 3<br/>
3 : 2<br/>
4 : 1<br/>
5 : 2<br/>
6 : 2<br/>
7 : 0<br/>
8 : 1<br/>
9 : 1<br/>

numbers = [1203, 1256, 312456, 98]

In [20]:
numbers = [1203, 1256, 312456, 98]

count = [0] * 10 # same as [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

for num in numbers:
    for char in str(num):
        count[int(char)] += 1

for d in range(0, 10):
    print("{}  {}".format(d, count[d]))

0  1
1  3
2  3
3  2
4  1
5  2
6  2
7  0
8  1
9  1

- We have a list of numbers.
- We need a place to store the counters. For this we create a variable called counter which is a list of 10 0s. We are going to count the number of times the digit 3 appears in counters[3].
- We iterate over the numbers so num is the current number. (e.g. 1203)
- We would like to iterate over the digits in the current number now, but if we write for var in num we will get an error TypeError: 'int' object is not iterable because num is a number, but numbers are not iterables, so we we cannot iterate over them. So we need to convert it to a string using str.
- On each iteration char will be one character (which in or case we assume that will be a digit, but still stored as a string).
- int(char) will convert the string to a number so for example "2" will be converted to 2.
- count[int(char)] is going to be char[2] if char is "2". That's the location in the list where we count how many times the digit 2 appears in our numbers.
- We increment it by one as we have just encountered a new copy of the given digit.
- That finished the data collection.
- The second for-loop iterates over all the "possible digits" that is from 0-9, prints out the digit and the counter in the respective place.

### Exercise: Create list

- Create a script called create_list.py that given a list of strings with words separated by spaces, create a single list of all the words.
- Skeleton:

`lines = ['grape banana mango', 'nut orange peach', 'apple nut banana apple mango',]`

`....`

`print(fruits)`

`....`

`print(unique_fruites)`


- Expected result:

`['grape', 'banana', 'mango', 'nut', 'orange', 'peach', 'apple', 'nut', 'banana', 'apple', 'mango']`

- Then create a list of unique values sorted in alphabetical order.

- Expected result:


`['apple', 'banana', 'grape', 'mango', 'nut', 'orange', 'peach']`

In [21]:
lines = [
    'grape banana mango',
    'nut orange peach',
    'apple nut banana apple mango',
]

one_line = ' '.join(lines)
print(one_line)
fruits = one_line.split()
print(fruits)

unique_fruits = []
for word in fruits:
    if word not in unique_fruits:
        unique_fruits.append(word)
print(sorted(unique_fruits))


# a simpler way using a set, but we have not learned sets yet.
unique = sorted(set(fruits))
print(unique)

grape banana mango nut orange peach apple nut banana apple mango
['grape', 'banana', 'mango', 'nut', 'orange', 'peach', 'apple', 'nut', 'banana', 'apple', 'mango']
['apple', 'banana', 'grape', 'mango', 'nut', 'orange', 'peach']
['apple', 'banana', 'grape', 'mango', 'nut', 'orange', 'peach']

### Exercise: Count words

- Create a script that given a list of words (for now embedded in the program itself) will count how many times each word appears.


`celestial_objects = [ 'Moon', 'Gas', 'Asteroid', 'Dwarf', 'Asteroid', 'Moon', 'Asteroid']`


- Expected output:


`Moon        2`<br/>
`Gas         1`<br/>
`Asteroid    3`<br/>
`Dwarf       1`<br/>

In [22]:
celestial_objects = [
    'Moon', 'Gas', 'Asteroid', 'Dwarf', 'Asteroid', 'Moon', 'Asteroid'
]

names   = []
counter = []

for name in celestial_objects:
    if name in names:
        idx = names.index(name)
        counter[idx] += 1
    else:
        names.append(name)
        counter.append(1)

for i in range(len(names)):
    print("{:12}   {}".format(names[i], counter[i]))

Moon           2
Gas            1
Asteroid       3
Dwarf          1

In [23]:
celestial_objects = [
    'Moon', 'Gas', 'Asteroid', 'Dwarf', 'Asteroid', 'Moon', 'Asteroid'
]

names   = []
counter = []

for name in celestial_objects:
    for idx in range(len(names)):
        if name == names[idx]:
            counter[idx] += 1
            break
    else:
        names.append(name)
        counter.append(1)

for i in range(len(names)):
    print("{:12}   {}".format(names[i], counter[i]))

Moon           2
Gas            1
Asteroid       3
Dwarf          1

### Exercise: Check if number is prime

- Write a program that gets a number on the command line a prints "True" if the number is a prime number or "False" if it isn't.

In [25]:
import sys

n = 4217

#print(n)

is_prime = True
for i in range(2, int( n ** 0.5) + 1):
    if n % i == 0:
        is_prime = False
        break

print(is_prime)


# math.sqrt(n) might be clearer than n ** 0.5

True

### Exercise: DNA sequencing
- Create a file called dna_sequencing.py
- `A, C, T, G` are called bases or nucleotides
- Accept a sequence like this: `ACCGXXCXXGTTACTGGGCXTTGTXX`
- Given a sequence such as the one above (some nucleotides mixed up with other elements represented by an X)
- First return the sequences containing only `ACTG`. The above string can will be changed to `['ACCG', 'C', 'GTTACTGGGC', 'TTGT']`.
- Then sort them by lenght. Expected result: `['GTTACTGGGC', 'ACCG', 'TTGT', 'C']`

- In this case the original string contains more than on type of foreign elements: e.g. `'ACCGXXTXXYYGTTQRACQQTGGGCXTTGTXX'`.
- Expected output: `['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T']`
- Ask for a sequence on the Standard Input (STDIN) like this:

In [35]:
def get_sequences(dna):
    sequences = dna.split('X')
    sequences.sort(key=len, reverse=True)
    print(sequences)

    new_seq = []
    for w in sequences:
        if len(w) > 0:
            new_seq.append(w)

    return new_seq

print("First Solution".center(32, '-'))

if __name__ == '__main__':
    dna = 'ACCGXXCXXGTTACTGGGCXTTGT'
    short_sequences = get_sequences(dna)
    print(short_sequences)

print("Second Solution".center(32, '-'))
if __name__ == '__main__':
    dna = 'ACCGXXTXXYYGTTQRACQQTGGGCXTTGTXX'

    filtered = []
    for cr in dna:
        if cr in 'ACGT':
            filtered.append(cr)
        else:
            filtered.append('X')
    #print(filtered)

    dna = ''.join(filtered)

    short_sequences = get_sequences(dna)
    print(short_sequences)
    
print("Using replace".center(32, '-')) 
if __name__ == '__main__':
    dna = 'ACCGXXTXXYYGTTQRACQQTGGGCXTTGTXX'
    bad_letters = []
    for cr in dna:
        if cr not in 'ACTGX' and cr not in bad_letters:
            bad_letters.append(cr)

    for cr in bad_letters:
        while cr in dna:
            dna = dna.replace(cr, 'X')

    short_sequences = get_sequences(dna)
    print(short_sequences)
    

print("Using Regex".center(32, '-')) 
import re
if __name__ == '__main__':
    dna = 'ACCGXXTXXYYGTTQRACQQTGGGCXTTGTXX'

    dna = re.sub(r'[^ACTGX]+', 'X', dna)

    short_sequences = get_sequences(dna)
    print(short_sequences)
    
print("sequencing with filter".center(32, '-')) 

dna = 'ACCGXXCXXGTTACTGGGCXTTGT'
sequences = dna.split('X')
sequences.sort(key=len, reverse=True)

def not_empty(x):
    return len(x) > 0

print(sequences)
sequences = list( filter(not_empty, sequences) )
print(sequences)



print("with filter and lambda".center(32, '-')) 

dna = 'ACCGXXCXXGTTACTGGGCXTTGT'
sequences = dna.split('X')
sequences.sort(key=len, reverse=True)

print(sequences)
sequences = list( filter(lambda x: len(x) > 0, sequences) )
print(sequences)

---------First Solution---------
['GTTACTGGGC', 'ACCG', 'TTGT', 'C', '', '']
['GTTACTGGGC', 'ACCG', 'TTGT', 'C']
--------Second Solution---------
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T', '', '', '', '', '', '', '', '']
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T']
---------Using replace----------
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T', '', '', '', '', '', '', '', '']
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T']
----------Using Regex-----------
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T', '', '', '', '', '']
['TGGGC', 'ACCG', 'TTGT', 'GTT', 'AC', 'T']
-----sequencing with filter-----
['GTTACTGGGC', 'ACCG', 'TTGT', 'C', '', '']
['GTTACTGGGC', 'ACCG', 'TTGT', 'C']
-----with filter and lambda-----
['GTTACTGGGC', 'ACCG', 'TTGT', 'C', '', '']
['GTTACTGGGC', 'ACCG', 'TTGT', 'C']

## [].extend

In [36]:
names = ['Foo Bar', 'Orgo Morgo']

names.extend(['Joe Doe', 'Jane Doe'])
print(names) # ['Foo Bar', 'Orgo Morgo', 'Joe Doe', 'Jane Doe']

['Foo Bar', 'Orgo Morgo', 'Joe Doe', 'Jane Doe']

## append vs. extend
- What is the difference between [].append and [].extend ? The method append adds its parameter as a single element to the list, while extend gets a list and adds its content.

In [37]:
names = ['Foo Bar', 'Orgo Morgo']
more = ['Joe Doe', 'Jane Doe']
names.extend(more)
print(names)  # ['Foo Bar', 'Orgo Morgo', 'Joe Doe', 'Jane Doe']

names = ['Foo Bar', 'Orgo Morgo']
names.append(more)
print(names) # ['Foo Bar', 'Orgo Morgo', ['Joe Doe', 'Jane Doe']]

names = ['Foo', 'Bar']
names.append('Qux')
print(names)   # ['Foo', 'Bar', 'Qux']

names = ['Foo', 'Bar']
names.extend('Qux')
print(names)   # ['Foo', 'Bar', 'Q', 'u', 'x']

['Foo Bar', 'Orgo Morgo', 'Joe Doe', 'Jane Doe']
['Foo Bar', 'Orgo Morgo', ['Joe Doe', 'Jane Doe']]
['Foo', 'Bar', 'Qux']
['Foo', 'Bar', 'Q', 'u', 'x']

## split and extend
- When collecting data which is received from a string via splitting, we would like to add the new elements to the existing list:

In [39]:
lines = [
    'abc def ghi',
    'hello world',
]

collector = []

for l in lines:
    collector.extend(l.split())
    print(collector)

# ['abc', 'def', 'ghi']
# ['abc', 'def', 'ghi', 'hello', 'world']

['abc', 'def', 'ghi']
['abc', 'def', 'ghi', 'hello', 'world']

## hard questions


1. How can you efficiently remove duplicate elements from a list while preserving the original order?

2. Given two lists, how can you find the common elements between them without using any built-in functions or libraries?

3. Write a function that takes a list of integers and returns the longest subsequence where the elements are in increasing order.

4. Implement a function to find the kth smallest element in a list without modifying the original list.

5. Can you explain the difference between using the list comprehension and the map function to perform operations on a list?