## Create tuple (Tuple vs List)
- A tuple is a fixed-length immutable list. It cannot change its size or content.
- Can be accessed by index, using the slice notation.
- A tuple is denoted with parentheses: `(1,2,3)`

In [1]:

planets = ('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn')
print(planets)
print(planets[1])
print(planets[1:3])

planets.append("Death Star")
print(planets)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn')
Venus
('Venus', 'Earth')

AttributeError: 'tuple' object has no attribute 'append'

### List

- Elements of a list can be changed via their index or via the list slice notation.
- A list can grow and shrink using append and pop methods or using the slice notation.
- A list is denoted with square brackets: [1, 2, 3]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
print(planets)
print(planets[1])
print(planets[1:3])

planets.append("Death Star")
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
Venus
['Venus', 'Earth']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Death Star']

**Tuples are rarely used. There are certain places where Python or some module require tuple (instead of list) or return a tuple (instead of a list) and in each place it will be explained. Otherwise you don't need to use tuples.
e.g. keys of dictionaries can be tuple (but not lists).**

## Convert list to tuple and tuple to list

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

print(planets)
print(planets.__class__.__name__)

tpl = tuple(planets)
print(tpl)
print(tpl.__class__.__name__)


lst = list(tpl)
print(lst)
print(lst.__class__.__name__)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
list
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn')
tuple
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
list

## Enumerate returns tuples

In [4]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

enu = enumerate(planets)
print(type(enu).__name__)
print(enu)

print('-----')

element = next(enu)
print(type(element))
print(element)

print('-----')

for tpl in enumerate(planets):
    print(tpl[0], tpl[1])

enumerate
<enumerate object at 0x7fb2320c7600>
-----
<class 'tuple'>
(0, 'Mercury')
-----
0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn

## Change a tuple

In [5]:
z = ([1, 2], [3, 4])
print(z)               # ([1, 2], [3, 4])

z[0].append(5)
print(z)               # ([1, 2, 5], [3, 4])


# z[0] = [7, 8] # TypeError: 'tuple' object does not support item assignment
# z.append(7)   # AttributeError: 'tuple' object has no attribute 'append'

([1, 2], [3, 4])
([1, 2, 5], [3, 4])

## Sort tuples

In [6]:
students = [
    ('John', 'A', 2),
    ('John', 'B', 2),
    ('John', 'A', 3),
    ('Anne', 'B', 1),
    ('Anne', 'A', 2),
    ('Anne', 'A', 1),
]
print(students)

print(sorted(students))

"""
[
    ('Anne', 'A', 1),
    ('Anne', 'A', 2),
    ('Anne', 'B', 1),
    ('John', 'A', 2),
    ('John', 'A', 3),
    ('John', 'B', 2)
]
"""

[('John', 'A', 2), ('John', 'B', 2), ('John', 'A', 3), ('Anne', 'B', 1), ('Anne', 'A', 2), ('Anne', 'A', 1)]
[('Anne', 'A', 1), ('Anne', 'A', 2), ('Anne', 'B', 1), ('John', 'A', 2), ('John', 'A', 3), ('John', 'B', 2)]

"\n[\n    ('Anne', 'A', 1),\n    ('Anne', 'A', 2),\n    ('Anne', 'B', 1),\n    ('John', 'A', 2),\n    ('John', 'A', 3),\n    ('John', 'B', 2)\n]\n"

## Sort tuples by specific elements

In [7]:
students = [
    ('John', 'A', 2),
    ('Zoro', 'C', 1),
    ('Dave', 'B', 3),
]
print(students)
  # [('John', 'A', 2), ('Zoro', 'C', 1), ('Dave', 'B', 3)]

print(sorted(students))
  # [('Dave', 'B', 3), ('John', 'A', 2), ('Zoro', 'C', 1)]
  # sort by the first element of each tuple

print(sorted(students, key=lambda s : s[1]))
  # [('John', 'A', 2), ('Dave', 'B', 3), ('Zoro', 'C', 1)]
  # sort by the 2nd element of the tuples (index 1)

print(sorted(students, key=lambda s : s[2]))
  # [('Zoro', 'C', 1), ('John', 'A', 2), ('Dave', 'B', 3)]
  # sort by the 3rd element of the tuples (index 2)


from operator import itemgetter
print(sorted(students, key=itemgetter(2)))
  # [('Zoro', 'C', 1), ('John', 'A', 2), ('Dave', 'B', 3)]
  # maybe this is more simple than the lambda version
  # and probably faster

[('John', 'A', 2), ('Zoro', 'C', 1), ('Dave', 'B', 3)]
[('Dave', 'B', 3), ('John', 'A', 2), ('Zoro', 'C', 1)]
[('John', 'A', 2), ('Dave', 'B', 3), ('Zoro', 'C', 1)]
[('Zoro', 'C', 1), ('John', 'A', 2), ('Dave', 'B', 3)]
[('Zoro', 'C', 1), ('John', 'A', 2), ('Dave', 'B', 3)]

## Sort and secondary sort
- We have a list of words. It is easy to sort them by length, but what will be the order among the words that have the same length?
- A sort using a lambda-function that returns a tuple can provide the secondary sort order.

In [8]:

planets1 = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
planets2 = ['Mercury', 'Earth', 'Venus', 'Mars', 'Jupiter', 'Saturn']

print(sorted(planets1, key=len))
# ['Mars', 'Venus', 'Earth', 'Saturn', 'Mercury', 'Jupiter']
print(sorted(planets2, key=len))
# ['Mars', 'Earth', 'Venus', 'Saturn', 'Mercury', 'Jupiter']

print(sorted(planets1, key=lambda w: (len(w), w)))
# ['Mars', 'Earth', 'Venus', 'Saturn', 'Jupiter', 'Mercury']
print(sorted(planets2, key=lambda w: (len(w), w)))
# ['Mars', 'Earth', 'Venus', 'Saturn', 'Jupiter', 'Mercury']

['Mars', 'Venus', 'Earth', 'Saturn', 'Mercury', 'Jupiter']
['Mars', 'Earth', 'Venus', 'Saturn', 'Mercury', 'Jupiter']
['Mars', 'Earth', 'Venus', 'Saturn', 'Jupiter', 'Mercury']
['Mars', 'Earth', 'Venus', 'Saturn', 'Jupiter', 'Mercury']

##

##