## sets

- Sets in Python are used when we are primarily interested in operations that we know from the set theory.

- In day to day speach we often use the word "group" instead of "set" even though they are not the same.
- What are the common elements of two set (two groups).
- Is one group (set) the subset of the other?
- What are all the elements that exist in both groups (sets)?
- What are the elements that exist in exactly one of the groups (sets)?

## set operations

- set
- issubset
- intersection
- symmetric difference
- union
- relative complement (difference)
- stdtypes: set

## Creating a set

In [2]:
things = {'table', 'chair', 'door', 'chair'}
print(things)
print(type(things))

if 'table' in things:
    print("has table")

{'table', 'door', 'chair'}
<class 'set'>
has table

## Creating a set from a list

In [3]:
furniture = ['table', 'chair', 'door', 'chair', 'chair']
things = set(furniture)
print(things)
print(type(things))

if 'table' in things:
    print("has table")

{'table', 'door', 'chair'}
<class 'set'>
has table

## Converting set to list

In [4]:
planets = {'Mars', 'Jupiter', 'Saturn', 'Mercury', 'Venus', 'Earth', 'Mars'}
print(planets)

planets_list = list(planets)
print(planets_list)

{'Earth', 'Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter'}
['Earth', 'Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter']

## Creating an empty set

In [5]:
objects = set()
print(objects)
print(type(objects))

other = {}
print(other)
print(type(other)) # This is an empty dict and not a set!!!!

set()
<class 'set'>
{}
<class 'dict'>

## Adding an element to a set (add)

In [6]:
objects = set()
print(objects)

objects.add('Mars')
print(objects)

objects.add('Mars')
print(objects)

objects.add('Neptun')
print(objects)

set()
{'Mars'}
{'Mars'}
{'Mars', 'Neptun'}

## Merging one set into another set (update)

In [7]:
objects  = set(['Mars', 'Jupiter', 'Saturn'])
internal = set(['Mercury', 'Venus', 'Earth', 'Mars'])

objects.update(internal)
print(objects)
print(internal)

{'Earth', 'Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter'}
{'Mercury', 'Earth', 'Mars', 'Venus'}

## set intersection

In [8]:
english = set(['door', 'car', 'lunar', 'era'])
spanish = set(['era', 'lunar', 'hola'])

print('english: ', english)
print('spanish: ', spanish)

both = english.intersection(spanish)
print(both)

english:  {'lunar', 'car', 'era', 'door'}
spanish:  {'lunar', 'era', 'hola'}
{'lunar', 'era'}

## set subset

In [9]:
english = set(['door', 'car', 'lunar', 'era'])
spanish = set(['era', 'lunar', 'hola'])

words = set(['door', 'lunar'])


print('issubset: ', words.issubset( english ))
print('issubset: ', words.issubset( spanish ))

issubset:  True
issubset:  False

## set symmetric difference
- Symmetric difference contains all the elements in either one of the sets, but not in both. "the ears of the elephant".

In [10]:
english = set(['door', 'car', 'lunar', 'era'])
spanish = set(['era', 'lunar', 'hola'])

diff = english.symmetric_difference(spanish)
print('symmetric_difference: ', diff)

symmetric_difference:  {'car', 'hola', 'door'}

## set union

In [11]:
english = set(['door', 'car', 'lunar', 'era'])
spanish = set(['era', 'lunar', 'hola'])

all_the_words = english.union(spanish)

print(english)
print(spanish)
print(all_the_words)

# x = english + spanish # TypeError: unsupported operand type(s) for +: 'set' and 'set'

{'lunar', 'car', 'era', 'door'}
{'lunar', 'era', 'hola'}
{'car', 'lunar', 'era', 'hola', 'door'}

## set relative complement (difference)

In [12]:
english = set(['door', 'car', 'lunar', 'era'])
spanish = set(['era', 'lunar', 'hola'])

print(spanish.difference(english))
print(english.difference(spanish))
print()


eng = english - spanish
spa = spanish - english
print(spa)
print(eng)
print()

print(english)
print(spanish)

{'hola'}
{'car', 'door'}

{'hola'}
{'car', 'door'}

{'lunar', 'car', 'era', 'door'}
{'lunar', 'era', 'hola'}

## Set of numbers

In [13]:
numbers = {1, 2, 3}
print(numbers)

{1, 2, 3}

## Set of lists

In [16]:
lists = set([ [2, 3], [1, 2] ]) # set of lists
# lists = set([ {2, 3}, {1, 2} ]) # set of sets

TypeError: unhashable type: 'list'

## Set of tuples

In [17]:
tuples = set([ (2, 3), (1, 2) ])
print(tuples)
print(type(tuples))

{(2, 3), (1, 2)}
<class 'set'>

## Create set from List

In [19]:
categories_list = ['animals', 'vegetables', 'fruits']

categories_set = {cat:set() for cat in categories_list}
print(categories_set)
print(type(categories_set))
categories_set['animals'].add('cat')
print(categories_set)

{'animals': set(), 'vegetables': set(), 'fruits': set()}
<class 'dict'>
{'animals': {'cat'}, 'vegetables': set(), 'fruits': set()}

## commonly used set functions in Python:

1. **Creating a Set**:
   - `set()`: Creates an empty set.
   - `set(iterable)`: Creates a set from an iterable (e.g., list, tuple, string).

2. **Adding Elements**:
   - `set.add(element)`: Adds an element to the set.
   - `set.update(iterable)`: Adds multiple elements to the set from an iterable.

3. **Removing Elements**:
   - `set.remove(element)`: Removes an element from the set. Raises a KeyError if the element is not found.
   - `set.discard(element)`: Removes an element from the set if it exists. Does nothing if the element is not found.
   - `set.pop()`: Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.
   - `set.clear()`: Removes all elements from the set.

4. **Set Operations**:
   - `set.union(set2, set3, ...)`: Returns a new set containing all unique elements from the original set(s) and other set(s).
   - `set.intersection(set2, set3, ...)`: Returns a new set containing common elements between the original set(s) and other set(s).
   - `set.difference(set2, set3, ...)`: Returns a new set containing elements that are present in the original set(s) but not in other set(s).
   - `set.symmetric_difference(set2)`: Returns a new set containing elements that are present in either the original set or the other set, but not both.
   - `set.issubset(set2)`: Checks if the original set is a subset of another set.
   - `set.issuperset(set2)`: Checks if the original set is a superset of another set.
   - `set.isdisjoint(set2)`: Checks if the original set and another set have no common elements.



5. **Set Membership and Length**:
   - `element in set`: Checks if an element is present in the set.
   - `len(set)`: Returns the number of elements in the set.