## SQLAlchemy hierarchy

In [ ]:
pip install sqlalchemy

- ORM
- Table, Metadata, Reflection, DDL - standardized language
- Engine - standardize low-level access (placeholders)

## SQLAlchemy engine

```
engine = create_engine('sqlite:///test.db')               # relative path
engine = create_engine('sqlite:////full/path/to/test.db') # full path
engine = create_engine('sqlite://')                       # in memory database
```

- PostgreSQL
```
engine = create_engine('postgresql://user:password@hostname/dbname')
engine = create_engine('postgresql+psycopg2://user:password@hostname/dbname')
```
- MySQL

```
engine = create_engine("mysql://user:password@hostname/dbname", encoding='latin1') # defaults to utf-8
```

## SQLAlchemy autocommit

- Unlike the underlying database engines, SQLAlchemy uses autocommit.
- That is, usually we don't need to call commit(), but if we would like to have a transaction we need to start it using begin() and end it either with commit() or with rollback().

## SQLAlchemy engine CREATE TABLE

In [5]:
import os
from sqlalchemy import create_engine

dbname = '__FILES/companies.db'
if os.path.exists(dbname):
    os.unlink(dbname)

engine = create_engine('sqlite:///' + dbname)  # Engine
with engine.connect() as conn:
    conn.execute('''
        CREATE TABLE person (
            id INTEGER PRIMARY KEY,
            name VARCHAR(100) UNIQUE,
            balance INTEGER NOT NULL
        );
    ''')

ObjectNotExecutableError: Not an executable object: '\n        CREATE TABLE person (\n            id INTEGER PRIMARY KEY,\n            name VARCHAR(100) UNIQUE,\n            balance INTEGER NOT NULL\n        );\n    '

## SQLAlchemy engine INSERT

In [ ]:
engine.execute('INSERT INTO person (name, balance) VALUES (:name, :balance)', name = 'Joe', balance = 100)
engine.execute('INSERT INTO person (name, balance) VALUES (:name, :balance)', name = 'Jane', balance = 100)
engine.execute('INSERT INTO person (name, balance) VALUES (:name, :balance)', name = 'Melinda', balance = 100)
engine.execute('INSERT INTO person (name, balance) VALUES (:name, :balance)', name = 'George', balance = 100)

## SQLAlchemy engine SELECT

In [ ]:
result = engine.execute('SELECT * FROM person WHERE id=:id', id=3)

print(result)            # <sqlalchemy.engine.result.ResultProxy object at 0x1013c9da0>

row = result.fetchone()
print(row)               # (3, 'Melinda', 100)  - Its a tuple
print(row['name'])       # Melinda              - And a dictionary
print(row.name)          # Melinda   - and object with methods for the columns

for k in row.keys():     # keys also works on it
    print(k)             # id, name, balance

result.close()

## SQLAlchemy engine SELECT all

In [ ]:
result = engine.execute('SELECT * FROM person')

for row in result:
    print(row)

result.close()

# (1, 'Joe', 100)
# (2, 'Jane', 100)
# (3, 'Melinda', 100)
# (4, 'George', 100)

## SQLAlchemy engine SELECT fetchall

In [ ]:
result = engine.execute('SELECT * FROM person WHERE id >= :id', id=3)

rows = result.fetchall()
print(rows)        # [(3, 'Melinda', 100), (4, 'George', 100)]

result.close()

## SQLAlchemy engine SELECT aggregate

In [ ]:
result = engine.execute('SELECT COUNT(*) FROM person')

r = result.fetchone()[0]
print(r)

result.close()

## SQLAlchemy engine SELECT IN

In [ ]:

results = engine.execute("SELECT * FROM person WHERE name IN ('Joe', 'Jane')")
print(results.fetchall()) # [(2, 'Jane', 100), (1, 'Joe', 100)]

# engine.execute("SELECT * FROM person WHERE name IN (:a0, :a1)", a0 = 'Joe', a1 = 'Jane')

## SQLAlchemy engine SELECT IN with placeholders

In [ ]:
names = ['Joe', 'Jane']
placeholders = []
data = {}
for i in range(len(names)):
    placeholders.append(':a' + str(i))
    data['a' + str(i)] = names[i]

# print(placeholders)  # [':a0', ':a1']
# print(data)          # {'a0': 'Joe', 'a1': 'Jane'}

sql = "SELECT * FROM person WHERE name IN ({})".format(', '.join(placeholders))
# print(sql)  #  SELECT * FROM person WHERE name IN (:a0, :a1)

#results = engine.execute(sql, a0 = 'Jane', a1 = 'Joe')
results = engine.execute(sql, **data)
print(results.fetchall()) # [(2, 'Jane', 100), (1, 'Joe', 100)]

## SQLAlchemy engine connection

In [ ]:
conn = engine.connect()
results = conn.execute('SELECT balance, name FROM person WHERE id < :id', id = 3)
print(results.fetchall())   # [(100, 'Joe'), (100, 'Jane')]
conn.close()

## SQLAlchemy engine transaction

In [ ]:
conn = engine.connect()

trans = conn.begin()

src = 'Joe'
dst = 'Jane'
payment = 3

results = conn.execute("SELECT balance, name FROM person WHERE name = :name", name = src)
src_balance = results.fetchone()[0]
results.fetchall()
print(src_balance)


results = conn.execute("SELECT balance, name FROM person WHERE name = :name", name = dst)
dst_balance = results.fetchone()[0]
results.fetchall()
print(dst_balance)

conn.execute('UPDATE person SET balance = :balance WHERE name=:name', balance = src_balance - payment, name = src)
conn.execute('UPDATE person SET balance = :balance WHERE name=:name', balance = dst_balance + payment, name = dst)

trans.commit()

# trans.rollback()

conn.close()

results = engine.execute("SELECT * FROM person")
print(results.fetchall())

## SQLAlchemy engine using context managers

```python
with engine.begin() as trans:
    conn.execute(...)
    conn.execute(...)
    raise Exception()  # for rollback
```

## Exercise: Create table

- Create the following schema
- Insert a few data items. Write a few select statements.



```sql
CREATE TABLE node (
    id      INTEGER PRIMARY KEY,
    name    VARCHAR(100)
);

CREATE TABLE interface (
    id       INTEGER PRIMARY KEY,
    node_id  INTEGER NOT NULL,
    ipv4     VARCHAR(15) UNIQUE,
    ipv6     VARCHAR(80) UNIQUE,
    FOREIGN KEY (node_id) REFERENCES node(id)
);

CREATE TABLE connection (
    a        INTEGER NOT NULL,
    b        INTEGER NOT NULL,
    FOREIGN KEY (a) REFERENCES interface(id),
    FOREIGN KEY (b) REFERENCES interface(id)
);
```

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import ForeignKey

metadata = MetaData()

node_table = Table('node', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('name', String(100), unique=True)
                   )

interface_table = Table('interface', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('node_id', Integer, ForeignKey('node.id'), nullable=False),
                   Column('ipv4', String(14), unique=True),
                   Column('ipv6', String(80), unique=True),
                   )

connection_table = Table('connection', metadata,
                    Column('a', Integer, ForeignKey('interface.id'), nullable=False),
                    Column('b', Integer, ForeignKey('interface.id'), nullable=False)
                         )

engine = create_engine('sqlite://', echo=True)
metadata.create_all(engine)

## SQLAlchemy Metada

- Describe the Schema, the structure of the database (tables, columns, constraints, etc.) in Python.

- SQL generation from the metadata, generate to a schema.
- Reflection (Introspection) - Create the metadata from an existing database, from an existing schema.

In [ ]:

from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String

metadata = MetaData()
user_table = Table('user', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('name', String(100), unique=True),
                   Column('balance', Integer, nullable=False)
                   )
print(user_table.name)
print(user_table.c.name)
print(user_table.c.id)

print(user_table.c)
print(user_table.columns)  # A bit like a Python dictionary, but it is an associative array



from sqlalchemy import create_engine
engine = create_engine('sqlite://')
metadata.create_all(engine)

from sqlalchemy import ForeignKey

address_table = Table('address', metadata,
                Column('id', Integer, primary_key=True),
                Column('stree', String(100)),
                Column('user_id', Integer, ForeignKey('user.id'))
                )
address_table.create(engine)

from sqlalchemy import Unicode, UnicodeText, ForeignKeyConstraint, DateTime

story_table = Table('story', metadata,
                    Column('id', Integer, primary_key=True),
                    Column('version', Integer, primary_key=True),
                    Column('headline', Unicode(100), nullable=False),
                    Column('body', UnicodeText)
                    )
published_table = Table('published', metadata,
                    Column('id', Integer, primary_key=True),
                    Column('timestamp', DateTime, nullable=False),
                    Column('story_id', Integer, nullable=False),
                    Column('version', Integer, nullable=False),
                    ForeignKeyConstraint(
                        ['story_id', 'version_id'],
                        ['story.story_id', 'story.version_id']
                    )
                )


conn.execute(user_table.insert(), [
    {'username': 'Jack', 'fullname': 'Jack Burger'},
    {'username': 'Jane', 'fullname': 'Jane Doe'}
])

from sqlalchemy import select
select_stmt = select([user_table.c.username, user_table.c.fullname]).where(user_table.c.username == 'ed')
result = conn.execute(select_stmt)
for row in result:
    print(row)

select_stmt = select([user_table])
conn.execute(select_stmt).fetchall()

select_stmt = select([user_table]).where(
    or_(
        user_table.c.username == 'ed',
        user_table.c.usernane == 'wendy'
    )
)

joined_obj = user_table.join(address_table, user_table.c.id = address_table.c.user_id)

## SQLAlchemy types

- Integer() - INT
- String() - ASCII strings - VARCHAR
- Unicode() - Unicode string - VARCHAR or NVARCHAR depending on database
- Boolean() - BOOLEAN, INT, TINYINT depending on db support for boolean type
- DateTime() - DATETIME or TIMESTAMP returns Python datetime() objects.
- Float() - floating point values
- Numeric() - precision numbers using Python Decimal()

## SQLAlchemy ORM - Object Relational Mapping

- Domain model
- Mapping between Domain Object - Table Row

## SQLAlchemy ORM create

In [ ]:
import os
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine

Base = declarative_base()


class Person(Base):
    __tablename__ = 'person'
    id   = Column(Integer, primary_key=True)
    name = Column(String(250), nullable=False, unique=True)

class Genre(Base):
    __tablename__ = 'genre'
    id = Column(Integer, primary_key=True)
    name = Column(String(250), nullable=False, unique=True)

class Movie(Base):
    __tablename__ = 'movie'
    id = Column(Integer, primary_key=True)
    title = Column(String(250), nullable=False, unique=True)
    genre_id = Column(Integer, ForeignKey('genre.id'))
    genre = relationship(Genre)

class Cast(Base):
    __tablename__ = 'cast'
    id = Column(Integer, primary_key=True)
    character = Column(String(250))
    person_id = Column(Integer, ForeignKey('person.id'))
    movie_id = Column(Integer, ForeignKey('movie.id'))



if __name__ == '__main__':
    dbname = 'imdb.db'
    if os.path.exists(dbname):
        os.unlink(dbname)
    engine = create_engine('sqlite:///' + dbname)
    Base.metadata.create_all(engine)

## SQLAlchemy ORM schema

```sql
CREATE TABLE person (
    id INTEGER NOT NULL, 
    name VARCHAR(250) NOT NULL, 
    PRIMARY KEY (id)
);
CREATE TABLE genre (
    id INTEGER NOT NULL, 
    title VARCHAR(250), 
    PRIMARY KEY (id)
);
CREATE TABLE movie (
    id INTEGER NOT NULL, 
    title VARCHAR(250), 
    genre_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(genre_id) REFERENCES genre (id)
);
CREATE TABLE "cast" (
    id INTEGER NOT NULL, 
    character VARCHAR(250), 
    person_id INTEGER, 
    movie_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(person_id) REFERENCES person (id), 
    FOREIGN KEY(movie_id) REFERENCES movie (id)
);
```

## SQLAlchemy ORM reflection

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

Base = automap_base()

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.prepare(engine, reflect=True)
Genre = Base.classes.genre

print(Genre.metadata.sorted_tables)

for c in Base.classes:
     print(c)

#session = Session(engine)
#session.add(Address(email_address="foo@bar.com", user=User(name="foo")))
#session.commit()

## SQLAlchemy ORM INSERT after automap

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

Base = automap_base()

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.prepare(engine, reflect=True)
Genre  = Base.classes.genre
Movie  = Base.classes.movie
Person = Base.classes.person
Cast   = Base.classes.cast



session = Session(engine)
for name in ('Action', 'Animation', 'Comedy', 'Documentary', 'Family', 'Horror'):
    session.add(Genre(name = name))

session.add(Movie(title = "Sing", genre_id=2))
session.add(Movie(title = "Moana", genre_id=2))
session.add(Movie(title = "Trolls", genre_id=2))
session.add(Movie(title = "Power Rangers", genre_id=1))

session.commit()

## SQLAlchemy ORM INSERT

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)
genre = {}
for name in ('Action', 'Animation', 'Comedy', 'Documentary', 'Family', 'Horror'):
    genre[name] = Genre(name = name)
    session.add(genre[name])

print(genre['Animation'].name) # Animation
print(genre['Animation'].id)   # None
session.commit()

print(genre['Animation'].name) # Animation
print(genre['Animation'].id)   # 2
session.add(Movie(title = "Sing", genre = genre['Animation']))
session.commit()

## SQLAlchemy ORM SELECT

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)

for g in session.query(Genre).all():
    print(g.name, g.id)

print("---")
animation = session.query(Genre).filter(Genre.name == 'Animation').one()
print(animation.name, animation.id)

## SQLAlchemy ORM SELECT cross tables

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)

movies = session.query(Movie).all()
for m in movies:
    print(m.title, "-", m.genre.name)

## SQLAlchemy ORM SELECT and INSERT

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)

animation = session.query(Genre).filter(Genre.name == 'Animation').one()
session.add(Movie(title = "Moana", genre = animation))
session.add(Movie(title = "Trolls", genre = animation))

action = session.query(Genre).filter(Genre.name == 'Action').one()
session.add(Movie(title = "Power Rangers", genre = action))

comedy = session.query(Genre).filter(Genre.name == 'Comedy').one()
session.add(Movie(title = "Gostbuster", genre = comedy))


session.commit()

ModuleNotFoundError: No module named 'orm_create_db'

## SQLAlchemy ORM UPDATE

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)

movie = session.query(Movie).filter(Movie.title == 'Gostbuster').one()
print(movie.title)
movie.title = 'Ghostbusters'
session.commit()

print(movie.title)

## SQLAlchemy ORM logging

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from orm_create_db import Base, Genre, Movie, Person, Cast

import logging

logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

logger = logging.getLogger('demo')
logger.setLevel(logging.INFO)

dbname = 'imdb.db'
engine = create_engine('sqlite:///' + dbname)

Base.metadata.bind = engine

session = Session(engine)


logger.info("Selecting all")
movies = session.query(Movie).all()
for m in movies:
    logger.info("------------")
    #print(m.title, "-", m.genre_id)
    print(m.title, "-", m.genre.name)

## Exercise: Inspector

- Use the inspector to list all the tables and all the columns in every table. ![](examples/sqla/reflection.py)

## SQLAlchemy CREATE and DROP

- metadata.create_all(engine, checkfirst=True|False) emits CREATE statement for all tables.
- table.create(engine, checkfirst=False|True) emits CREATE statement for a single table.
- metadata.drop_all(engine, checkfirst=True|False) emits DROPT statement for all the tables.
- table.drop(engine, checkfirst=False|True) emits DROPT statement for a single table.
- metada can create (or drop) the tables in the correct order to maintain the dependencies.

## SQLAlchemy Notes

- Multi-column primary key (composite primary key).
- Composite foreign key.

## SQLAlchemy Meta SQLite CREATE

In [ ]:
from sqlalchemy import create_engine
import os
from sqlite_meta_schema import get_meta

dbname = 'test.db'
if os.path.exists(dbname):
    os.unlink(dbname)
engine = create_engine('sqlite:///test.db')

metadata = get_meta()
metadata.create_all(engine)

## SQLAlchemy Meta Reflection

In [ ]:
from sqlalchemy import create_engine
import os
#from sqlalchemy import inspect
from sqlalchemy.engine import reflection

dbname = 'test.db'
if not os.path.exists(dbname):
    exit("Database file '{}' could not be found".format(dbname))

engine = create_engine('sqlite:///test.db')
# inspector = inspect(engine)
# print(inspector)
# print(inspector.get_columns('address'))
# print(inspector.get_foreign_keys('address'))

insp = reflection.Inspector.from_engine(engine)
print(insp.get_table_names())

## SQLAlchemy Meta INSERT

## SQLAlchemy Meta SELECT